@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="row">
    <div class="col-xs-12">
        <h2>Venta del dia $@ViewBag.ventaTotal</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form method="get">
            <input type="date" name="fecha" />
            <br />
            <input type="submit" value="Actualizar" />
        </form>
    </div>
</div>
