
@{
    ViewBag.Title = "Index";
}

<h2>Ventas</h2>


<div id="modalBusquedaProductos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Búsqueda de productos</h4>
            </div>
            <div class="modal-body">
                <table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio Unitario</th>
                            <th>Precio May A</th>
                            <th>Precio May B</th>
                            <th>Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalBusquedaProductos">Buscar Productos</button>
    </div>
</div>
<br>
<div id="contenedorVenta">
    <div class="row">
        <div class="col-lg-12">
            <table id="tablaproductosVenta" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                        <th>SubTotal</th>
                        <th class="hidden-print"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre del cliente" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3>Total:</h3>
        </div>
        <div class="col-xs-6">
            <h3>$<span id="totalVentaResumen">0</span></h3>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-danger" onclick="location.reload()">Cancelar</button>
        <button class="btn btn-success" id="guardarVenta" onclick="enviarTotalesVentaAlServidor()">Guardar</button>
        <button class="btn btn-info" onclick="$('#contenedorVenta').printThis();">Imprimir</button>
    </div>
</div>

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#employeeTable").DataTable({
                scrollY: "300px",
                "ajax": {
                    "url": "/Ven/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                columnDefs: [
                    { className: "hidden-print", "targets": [5] }
                ],
                "columns": [
                    { "data": "id_articulo" },
                    { "data": "art_nombre" },
                    { "data": "art_precio_uni" },
                    { "data": "art_precio_mayor_1" },
                    { "data": "art_precio_mayor_2" },
                    {
                        data: "id_articulo", "render": function (data) {
                            return "<input type='number' value='0' class='form-control' name='cantidad'/>";
                        }
                    },
                    {
                        "data": "id_articulo", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick='agregarProducto(this)')><i class='fa fa-pencil'></i> Agregar</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "50px"
                    }],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "emptyTable": "No data found, Please click on <b>Agregar Nuevo</b> Button"
                }

            });
            $("#modalBusquedaProductos").off("shown.bs.modal").on("shown.bs.modal", function () {
                dataTable.columns.adjust().draw();
            });

            $("#tablaproductosVenta").on("keyup mouseup", "input", function () {
                if ($(this).attr("name") == "total")
                    return;
                var cantidad = parseFloat($(this).val() || "0");
                var precio = parseFloat($(this).closest("tr").find("td").eq(2).text());
                $(this).closest("tr").find("input[name=total]").val(cantidad * precio);
                actualizaResumen();
            });

        });
        function agregarProducto(elemento) {
            var $row = $(elemento).closest("tr");
            var datos = {
                id: $row.find("td").eq(0).text(),
                nombre: $row.find("td").eq(1).text(),
                precio: $row.find("td").eq(2).text(),
                cantidad: $($row.find("td input").eq(0)).val() || "0"
            };
            agregarRegistroEnTabla(datos);
            $("#modalBusquedaProductos").find("input").val(0);
            $("#modalBusquedaProductos").modal("hide");
        }
        function agregarRegistroEnTabla(datos) {
            var $tr = $("<tr>");
            var $id = $("<td>", { html: datos.id });
            var $nombre = $("<td>", { html: datos.nombre });
            var $precio = $("<td>", { html: datos.precio });
            var $inputCantidad = $("<input>", { type: "number", value: datos.cantidad, "class": "form-control", name: "cantidad" });
            var $cantidad = $("<td>").append($inputCantidad);
            var $inputTotal = $("<input>", { type: "number", value: (parseFloat(datos.precio) * parseFloat(datos.cantidad)).toFixed(2), "class": "form-control", name: "total", readonly: "readonly" });
            var $total = $("<td>").append($inputTotal);
            var $quitarRegistro = $("<td class='hidden-print'><button onclick='quitarItemProductoTablaVenta(this)' class='form-control btn btn-danger'>Quitar</button></td>");
            $tr.append($id);
            $tr.append($nombre);
            $tr.append($precio);
            $tr.append($cantidad);
            $tr.append($total);
            $tr.append($quitarRegistro);
            $("#tablaproductosVenta tbody").append($tr);
            actualizaResumen();
        }
        function quitarItemProductoTablaVenta(elemento) {
            $(elemento).closest("tr").remove();
            actualizaResumen();
        }
        function actualizaResumen() {
            var resumen = 0;
            $("#tablaproductosVenta").find("input[name=total]").each(function () {
                resumen += parseFloat($(this).val());
            });
            $("#totalVentaResumen").text(resumen.toFixed(2));
        }
        function enviarTotalesVentaAlServidor() {
            var registros = [];
            $("#tablaproductosVenta").find("tr").each(function () {
                var r = {
                    IdProducto: $(this).find("td").eq(0).text(),
                    Cantidad: $(this).find("input[name=cantidad]").val()
                };
                if ($.trim(r.IdProducto) == "")
                    return;
                registros.push(r);
            });
            //TODO: implementar indicador de carga
            $.post("@Url.Action("GuardarVenta", "Ventas")", { items: registros }).done(function () {

                location.reload();
                
                //TODO: mostrar mensaje de guardado exitoso
            }).fail(function () {
                //TODO: mostrar mensaje de error en guardado
            });
        }
    </script>
}
